/*=========================== CSS styling ============================*/
html {
  min-height: 100%;
}

body {
	color: #3333;
	background: linear-gradient(to bottom, #649ABF, white );
	font-family: Abel, Arial, sans-serif;
}
/*=========================== Banner ============================*/
.bannertext{
	text-align:center;
	margin:0;
	padding:25px 0;
}
/*=========================== Navigation ============================*/
nav{
	background: #649ABF;
	height:1.5em;
}


nav ul li{
	display: inline;
	text-align: center;
	margin: 0 auto;
}


